/* defaults */
* {
  box-sizing: border-box;
}

  body {
  margin: 0;
  
  font-size: clamp(1rem, 4vw, 3rem);
  text-align: center;
}

/* div class */
.wrapper {
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: flex-end;

  background-image: url('https://picsum.photos/id/310/4928/3264');
  background-size: cover;
  background-position: center;
}

div {
  margin: auto;

  padding: 1.25rem;
  width: max-content;
}

h1 {
  margin: 0;

  font-family: 'Passion One', Helvetica, sans-serif;
  color: white;
  text-align: center;
}

p {
  margin: auto;

  font-family: 'Montserrat Alternates', Helvetica, sans-serif;
  font-size: 35px;
  color: white;
  width: max-content;
  font-size: clamp(1rem, 4vw, 3rem);
}

/* button style */
.button a {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(white 10%, silver 30%, Gainsboro 90%);
  
  display: inline-block;
  
  font-size: 28px;
  font-size: clamp(1rem, 4vw, 2rem);

  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
}

/* button behavior */
.button a:hover {
  color: white;
  background-image: linear-gradient(black 10%, gray 60%, white 80%);
}
  
.button a:active {
  color: white;
  background-image: linear-gradient(white 20%, gray 30%, black 90%);
}